
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../HomePageStyle.css">
    <title>My Spotiti</title> 
</head>
<body>
  <div class="container">
    <div class="column column-1">
      <h1>MY SPOTITI</h1>
      <div>
        <input type="text" placeholder="Search">
        <button>Search</button>
      </div>
      <div class="menu">
        <h2>Menu</h2>
        <div class="submenu">
          <button>Sub-menu 1</button>
          <button>Sub-menu 2</button>
          <button>Sub-menu 3</button>
        </div>
      </div>
      <div class="menu">
        <h2>Library</h2>
        <div class="submenu">
          <button>Sub-menu 1</button>
          <button>Sub-menu 2</button>
          <button>Sub-menu 3</button>
        </div>
      </div>
      <div class="menu">
        <h2>Other</h2>
        <div class="submenu">
          <button>Sub-menu 1</button>
          <button>Sub-menu 2</button>
          
        </div>
      </div>
    </div>
    <div class="column column-2">
      <div class="upgrade-button">
        <button>Upgrade</button>
      </div>
      <div class="made-for-you">
        <h2>Made for you</h2>
        <div class="image-container">
          <a href="#">
            <img src="assets/mixPlaylist.png" alt="Album Image">
          </a>
        </div>
        <h2>Recently Played</h2>
        <ul class="song-list">
          <li class="song-item">
            <img src="path/to/your/image1.jpg" alt="Song Image">
            <div class="song-details">
              <div>
                <div class="song-title">Judul Lagu 1</div>
                <div class="song-artist">Nama Artis 1</div>
              </div>
              <div>
                <div class="song-duration">Durasi Lagu 1</div>
              </div>
              <div>
                <div class="song-controls">
                  <button>Play</button>
                  <button>Like</button>
                </div>
              </div>
            </div>
          </li>
          <li class="song-item">
            <img src="path/to/your/image2.jpg" alt="Song Image">
            <div class="song-details">
              <div>
                <div class="song-title">Judul Lagu 2</div>
                <div class="song-artist">Nama Artis 2</div>
              </div>
              <div>
                <div class="song-duration">Durasi Lagu 2</div>
                
              </div>
              <div>
                <div class="song-controls">
                  <button>Play</button>
                  <button>Like</button>
                </div>
              </div>
            </div>
          </li>
          <li class="song-item">
            <img src="path/to/your/image3.jpg" alt="Song Image">
            <div class="song-details">
              <div>
                <div class="song-title">Judul Lagu 3</div>
                <div class="song-artist">Nama Artis 3</div>
              </div>
              <div>
                <div class="song-duration">Durasi Lagu 3</div>
                
              </div>
              <div>
                <div class="song-controls">
                  <button>Play</button>
                  <button>Like</button>
                </div>
              </div>
            </div>
          </li>
          <!-- Tambahkan lebih banyak item lagu sesuai keinginan -->
        </ul>
      </div>
    </div>
    <div class="column column-3">
      <div class="profile">
        <div class="profile-info">
          <div class="profile-image">
            <img src="assets/ibab.jpg" alt="Profile Image">
          </div>
          <div>
            <div class="profile-name">Alexander Austin</div>
            <div class="profile-member">Membership</div>
          </div>
          <div class="profile-settings">
            <img src="passert" alt="Settings Icon">
          </div>
        </div>
      </div>
      
      <div class="square-image">
        <img src="assets/Forever.jpg" alt="Square Image">
      </div>
      <div class="music-player">
        <!-- Konten Music Player -->
      </div>
    </div>
  </div>
</body>
</html>
