<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY SPOTITI</title>
    <link rel="stylesheet" href="homepage-pimpinan.css">
</head>

<body>
    <div class="title">
        <h1>MY SPOTITI</h1>
    </div>
    <div class="middle-section">
        <div class="menu-boxes">
            <div class="menu-box">
                <i class="fas fa-chart-bar"></i>
                <h3>Monthly Transaction Report</h3>
            </div>
            <div class="menu-box">
                <i class="fas fa-music"></i>
                <h3>Music Playback Transaction Report</h3>
            </div>
            <div class="menu-box">
                <i class="fas fa-play-circle"></i>
                <h3>Playback Transaction Status</h3>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-header">
            <h2>HI, Pimpinan</h2>
            <i class="fa fa-bell"></i>
        </div>
        <ul class="menu">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Monthly Transaction Report</a></li>
            <li><a href="#">Music Playback Transaction Report</a></li>
            <li><a href="#">Playback Transaction Status</a></li>
        </ul>
        <div class="other">
            <a href="#">Settings</a>
            <a href="#">Logout</a>
        </div>
    </div>
</body>

</html>
