
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../HomePageStyle.css">
    <title>My Spotiti</title> 
</head>
<body>
  <div class="container">
    <div class="column column-1">
      <h1>MY SPOTITI</h1>
      <div>
        <input type="text" placeholder="Search">
        <button>Search</button>
      </div>
      <div><br> </div>
      <div><br> </div>
      
      <div class="menu">
        <h2>Menu</h2>
        <div class="submenu">
          <button>Home</button>
          <button>Playlist</button>
          <button>Genre</button>
        </div>
      </div>
      <div class="menu">
        <h2>Library</h2>
        <div class="submenu">
          <button>My Playlist</button>
          <button>Liked Song</button>
          <button>Download Song</button>
        </div>
      </div>
      <div class="menu">
        <h2>Other</h2>
        <div class="submenu">
          <button>Membership</button>
          <button>Log-out</button>
          
        </div>
      </div>
    </div>
    <div class="column column-2">
      <div class="upgrade-button">
        <button>Upgrade</button>
      </div>
      <div class="made-for-you">
        <h2>MADE FOR YOU</h2>
        <div class="image-container">
          <a href="#">
            <img src="assets/mixPlaylist.png" alt="Album Image">
          </a>
        </div>
        <div><br></div>
        <h2>Recently Played</h2>
        <ul class="song-list">
          <li class="song-item">
            <img src="assets/Forever.jpg" alt="Song Image">
            <div class="song-details">
              <div>
                <div class="song-title">Forever</div>
                <div class="song-artist">Oasis</div>
              </div>
              <div>
                <div class="song-duration">04:21</div>
              </div>
              <div>
                <div class="song-controls">
                  <button>Play</button>
                  <button>Like</button>
                </div>
              </div>
            </div>
          </li>
          <li class="song-item">
            <img src="assets/mcr.jpg" alt="Song Image">
            <div class="song-details">
              <div>
                <div class="song-title">Disanchanted</div>
                <div class="song-artist">My Chemical Romance</div>
              </div>
              <div>
                <div class="song-duration">03:22</div>
                
              </div>
              <div>
                <div class="song-controls">
                  <button>Play</button>
                  <button>Like</button>
                </div>
              </div>
            </div>
          </li>
          <li class="song-item">
            <img src="assets/beatles.jpg" alt="Song Image">
            <div class="song-details">
              <div>
                <div class="song-title">Yesterday</div>
                <div class="song-artist">The Beatles</div>
              </div>
              <div>
                <div class="song-duration">04:12</div>
                
              </div>
              <div>
                <div class="song-controls">
                  <button>Play</button>
                  <button>Like</button>
                </div>
              </div>
            </div>
          </li>
          <!-- Tambahkan lebih banyak item lagu sesuai keinginan -->
        </ul>
      </div>
    </div>
    <div class="column column-3">
      <div class="profile">
        <div class="profile-info">
          <div class="profile-image">
            <img src="assets/profileEx.jpg" alt="Profile Image">
          </div>
          <div>
            <div class="profile-name">Alexander Austin</div>
            <div class="profile-member">Membership</div>
          </div>
          <div class="profile-settings">
            <img src="passert" alt="Settings Icon">
          </div>
        </div>
      </div>
      
      <div class="square-image">
        <img src="assets/Forever.jpg" alt="Square Image">
      </div>
      <div class="music-player">
        <!-- Konten Music Player -->
      </div>
    </div>
  </div>
</body>
</html>
