<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Lanjutan2Membership.css">
    
    <title>My Spotiti</title> 
</head>
<body>
    <div class="container">
        <a class="back-button" href="/Membership">Back</a>
        <h1>Your Packet</h1>
        <div class="content-wrapper">
            <h2>Membership</h2>
            <h2 style="float: right;">1 Month</h2>
            <h3>Rp 20.000,-</h3>
            <hr>
            <img src="your-image.jpg" alt="Your Image">
            <button class="subscribe-button">Subscribe</button>
        </div>
    </div>
</body>
</html>
