
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../LanjutanMembership.css">
    
    <title>My Spotiti</title> 
</head>
<body>
    <div class="container">
        <a class="back-button" href="/Membership">Back</a>
        <h1>Pick Your Membership</h1>
        <div class="grid">
            <div class="grid-item">
                <h2 class="tipe">1 Month Membership</h2>
                <h3>Rp 20.000,-</h3>
                <hr>
                <h2>Fitur 1</h2>
                <h2>Fitur 2</h2>
                <h2>Fitur 3</h2>
                <button class="subscribe-button">Subscribe</button>
            </div>
            <div class="grid-item">
                <h2 class="tipe">3 Month Membership</h2>
                <h3>Rp 20.000,-</h3>
                <hr>
                <h2>Fitur 1</h2>
                <h2>Fitur 2</h2>
                <h2>Fitur 3</h2>
                <button class="subscribe-button">Subscribe</button>
            </div>
            <div class="grid-item">
                <h2 class="tipe">6 Month Membership</h2>
                <h3>Rp 20.000,-</h3>
                <hr>
                <h2>Fitur 1</h2>
                <h2>Fitur 2</h2>
                <h2>Fitur 3</h2>
                <button class="subscribe-button">Subscribe</button>
            </div>
            <div class="grid-item">
                <h2 class="tipe">1 Year Membership</h2>
                <h3>Rp 20.000,-</h3>
                <hr>
                <h2>Fitur 1</h2>
                <h2>Fitur 2</h2>
                <h2>Fitur 3</h2>
                <button class="subscribe-button">Subscribe</button>
            </div>
        </div>
    </div>
</body>
</html>