<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <style>
        .error {
            color: red;
            font-style: italic;
            font-size: 12px;
            margin-top: 5px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>MY SPOTITI</h1>
    <div class="container">
        <form method="post" action="/login">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username">
                <div class="error" id="usernameError"></div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password">
                <div class="error" id="passwordError"></div>
            </div>
            <div class="form-group">
                <button type="submit" onclick="validateForm()">Login</button>
            </div>
        </form>
        <div class="form-group">
            <input type="button" value="SignUp" onclick="window.location.href='/signup'">
        </div>
    </div>

    <script>
        function validateForm() {
            var usernameInput = document.getElementById("username");
            var passwordInput = document.getElementById("password");
            var username = usernameInput.value;
            var password = passwordInput.value;
            var usernameError = document.getElementById("usernameError");
            var passwordError = document.getElementById("passwordError");

            usernameError.innerHTML = "";
            passwordError.innerHTML = "";

            if (username === "" && password === "") {
                usernameError.innerHTML = "Masukkan UsernameMu";
                passwordError.innerHTML = "Masukkan PasswordMu";
            } else if (username === "") {
                usernameError.innerHTML = "Masukkan UsernameMu";
            } else if (password === "") {
                passwordError.innerHTML = "Masukkan PasswordMu";
            } else {
                // Lanjutkan dengan proses login
                document.forms[0].submit();
            }
        }
    </script>
</body>
</html>
