
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Membership.css">
    
    <title>My Spotiti</title> 
</head>
<body>
    <div class="container">
        <a class="back-button" href="/HomePage">Back</a>
        <div class="top-div">
            <h1>Get Membership for 2 Months, only Rp 21,990</h1>
            <h2>just Rp 21,990/month after. Debit and credit card accepted. Cancel anytime.</h2>
            <div class="button-container">
                <div class="d2">
                    <a href="/Lanjutan2Membership">GET STARTED</a>
                    <a href="/LanjutanMembership">SEE OTHER PLANS</a>
                </div>
            </div>
            <h3>1 month free not available for users who have already tried Membership</h3>
        </div>
        <div class="bottom-div">
            <div>
                <h1>The Power of Membership</h1>
            </div>
            <div style="display: flex; margin-left: 70px;">
                <div style="margin-right: 100px;">
                    <div class="circle-image"></div>
                    <h2>Heading 2</h2>
                    
                </div>
                <div style="margin-right: 100px;">
                    <div class="circle-image"></div>
                    <h2>Heading 2</h2>
                    
                </div>
                <div>
                    <div class="circle-image"></div>
                    <h2>Heading 2</h2>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>