
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Playlist.css">
    <script src="https://kit.fontawesome.com/985f81e0fc.js" crossorigin="anonymous"></script>
    
    <title>My Spotiti</title> 
</head>
<body>
    <div class="container">
      <div class="column column-1">
        <%- include('sideBar') %>
      </div>
      <div class="column column-2">
        <div class="upgrade-button">
          <button>Upgrade</button>
        </div>
        <div class="made-for-you">
          <h2>Music Genre's</h2>
          <div class="image-container">
              <table>
                  <thead>
                      <tr> 
                      </tr>
                  </thead>
                  <tbody>
                      <% let i = 1 %>
                      <% for(let row of dataGenre) { %>
                          <tr>
                             
                              <td><%= row.nama %></td>
                          </tr>
                      
                      <% i++ %>
                      <% } %>
  
                  </tbody>
              </table>
          </div>
          <div><br></div>
        </div>
      </div> 
      <div class="column column-3">
        <div class="profile">
          <div class="profile-info">
            <div class="profile-image">
              <img src="assets/profileEx.jpg" alt="Profile Image">
            </div>
            <div>
              <div class="profile-name">Alexander Austin</div>
              <div class="profile-member">Membership</div>
            </div>
            <div class="profile-settings">
              <i class="fa-sharp fa-solid fa-gear" style="color: #ffffff; font-size: x-large;"></i>
            </div>
          </div>
        </div>
        
        <div class="music-player">
          <div class="music-player2">
            <div class="music-info">
              <div class="song-title">Whatever</div>
              <div class="artist-name">Oasis</div>
            </div>
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
            <div class="controls">
              <i class="fa-sharp fa-solid fa-backward" style="font-size: x-large;"></i>
              <i class="fa-sharp fa-solid fa-circle-play" style="font-size: x-large;"></i>
              <i class="fa-solid fa-forward" style="font-size: x-large;"></i>
            </div>
          </div>
          
        </div>
        
        <div class="square-image">
          <img src="assets/recent.png" alt="Square Image">
        </div>
      </div>
  </body>
  </html>