<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY SPOTITI</title>
    <link rel="stylesheet" href="monthly-pimpinan.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="title">
        <h1>MY SPOTITI</h1>
    </div>
    <div class="sidebar">
        <div class="sidebar-header">
            <h2>HI, Pimpinan</h2>
        </div>
        <ul class="menu">
            <li class="with-icon"><a href="homepage-pimpinan">Home <i class="fas fa-home"></i></a></li>
            <li class="with-icon"><a href="#">Monthly Transaction Report <i class="fas fa-file"></i></a></li>
            <li class="with-icon"><a href="music-playback">Music Playback Transaction Report <i class="fas fa-music"></i></a></li>
            <li class="with-icon"><a href="playback_transaction_status_song">Playback Transaction Status <i class="fas fa-play-circle"></i></a></li>
        </ul>

        <div class="other">
            <a href="#"><i class="fas fa-cog"></i> Settings</a>
            <a href="login"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
    </div>

    <div class="tabel">
        <table border="1">
            <tr>
                <thead>
                    <tr style="background-color: purple; color:white;">
                        <th scope="col">User ID</th>
                        <th scope="col">Subscription</th>
                        <th scope="col">Tanggal mulai</th>
                        <th scope="col">Tanggal akhir</th>
                    </tr>
                </thead>
                <tbody>
                    <% let i = 1 %>
                    <% for(let row of Membership) { %>
                        <tr>
                            <td><%= row.id_user %></td>
                            <td><%= row.subscription %></td>
                            <td><%= row.tanggal_mulai %></td>
                            <td><%= row.tanggal_akhir %></td>
                        </tr>
                        <% i++ %>
                    <% } %>
                </tbody>
            </tr>
        </table>
    </div>
</body>

</html>
