<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Playlist.css">
  <script src="https://kit.fontawesome.com/985f81e0fc.js" crossorigin="anonymous"></script>

  <title>My Spotiti</title>
</head>

<body>
  <div class="container">
    <div class="column column-1">
      <%- include('sideBar') %>
    </div>
    <div class="column column-2">
      <div class="made-for-you">
        <h2>My Playlist</h2>
        <div>
          <form id="searchForm" action="/MyPlaylist" method="get">
              <input type="text" name="search" placeholder="Search My Playlist.."  />
              <button type="submit">Search</button>
            </form>
      </div>
        <div class="image-container">
          <table>
            <thead>
                
              <tr>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <% let i=1 %>
                <% for(let row of dataMyPlaylist) { %>
                 
                    <tr>
                      <td>
                        <input type="hidden" >
                        <a href="/isiMyPlaylist?idP=<%= row.id_playlist %>">
                          <%= row.nama %>
                        </a>
                      </td>
                    </tr>
                  </form>
                  <% i++ %>
                    <% } %>

            </tbody>
          </table>
        </div>
        <div><br></div>
      </div>
    </div>
    <div class="column column-3">
      <%- include('sideBar2') %>
    </div>
</body>

<script>
  function kirim(){
    document.getElementById("form").submit();
  }
</script>

</html>



