<link rel="stylesheet" href="../sideBar.css">
<div class="sideBarsemua">
    <h1>MY SPOTITI</h1>
    <div><br> </div>

    <div class="menu">
        <h2>Menu</h2>
        <div class="submenu">
            <div>
                <i class="fa-sharp fa-solid fa-house"></i> 
                <a href="/HomePage">Home</a> 
            </div>
            <div>
                <i class="fa-solid fa-music"></i> 
                <a href="/MemberPlaylist">Playlist</a> 
            </div>
            <div>
                <i class="fa-solid fa-headphones"></i>
                <a href="/MemberGenre">Genre</a> 
            </div>
        </div>
    </div>
    <div class="menu">
        <h2>Library</h2>
        <div class="submenu">
            <div>
                <i class="fa-sharp fa-solid fa-house"></i> 
                <a href="/LikedSong">Liked Song    </a> 
            </div>
            <div>
                <i class="fa-solid fa-book"></i>
                <a href="/Myplaylist">My Playlist</a> 
            </div>
            <div>
                <i class="fa-solid fa-download"></i>
                <a href="">Downloaded Song</a> 
            </div>
        </div>
    </div>
    <div class="menu">
        <h2>Other</h2>
        <div class="submenu">
            <div>
                <i class="fa-solid fa-user"></i> 
                <a href="/alreadyMembership">Membership</a> 
            </div>
            <div>
                <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i> 
                <a href="/login">Log-Out</a> 
            </div>
        </div>
    </div>
</div>