<link rel="stylesheet" href="../sideBar.css">
<div class="sideBarsemua">
    <h1>MY SPOTITI</h1>
    <div>
        <input type="text" placeholder="Search">
        <button>Search</button>
    </div>
    <div><br> </div>
    <div><br> </div>

    <div class="menu">
        <h2>Menu</h2>
        <div class="submenu">
            <button>Home</button>
            <button>Playlist</button>
            <button>Genre</button>
        </div>
    </div>
    <div class="menu">
        <h2>Library</h2>
        <div class="submenu">
            <button>My Playlist</button>
            <button>Liked Song</button>
            <button>Download Song</button>
        </div>
    </div>
    <div class="menu">
        <h2>Other</h2>
        <div class="submenu">
            <button>Membership</button>
            <button>Log-out</button>

        </div>
    </div>
</div>