<head>
    <title>Admin MySpotiti - Home</title>
    <link rel="stylesheet" type="text/css" href="homepage-admin.css">
    <link rel="stylesheet" href="../sideBar.css">
    <script>
        function showAlert() {
          alert("Musik Berhasil Ditambahkan Ke Database!");
        }
      </script>
  </head>
  <body>
    <div class="sideBarsemua">
      <h1>MY SPOTITI</h1>
      <div><br> </div>
  
      <div class="menu">
          <h2>Menu</h2>
          <div class="submenu">
              <div>
                  <i class="fa-sharp fa-solid fa-house"></i> 
                  <a href="/TambahGenre">Tambah Genre</a> 
              </div>
              <div>
                  <i class="fa-solid fa-music"></i> 
                  <a href="/TambahSubGenre">Tambah Sub-Genre</a> 
              </div>
              <div>
                  <i class="fa-solid fa-headphones"></i>
                  <a href="/TambahMusic">Tambah Lagu</a> 
              </div>
          </div>
      </div>
          <div class="menu">
          <h2>Other</h2>
          <div class="submenu">
              
              <div>
                  <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i> 
                  <a href="/login">Log-Out</a> 
              </div>
          </div>
      </div>
    </div>
    </body>
<div class="container">
    <h1>Welcome, Admin MySpotiti</h1>
    <div class="section">
      <h2>Manage Genre</h2>
      <div class="container">
        <form method="post" action="/TambahMusic">
            <div class="form-group">
                <label for="judul">Judul Music :</label>
                <input type="text" id="judul" name="judul" placeholder="Masukan Judul Music">
            </div>
            <div class="form-group">
                <label for="artis">Artis:</label>
                <input type="text" id="artis" name="artis" placeholder="Masukan Nama Artis">
            </div>
            <div class="form-group">
                <label for="durasi">Durasi:</label>
                <input type="text" id="durasi" name="durasi" placeholder="Masukan Durasi Music">
            </div>
            <div class="form-group">
                <label for="subgenre-dropdown">Sub-Genre:</label>
                <select id="subgenre-dropdown" name="subgenre">
                    <% for (let subgenre of dataListSubGenre) { %>
                        <option value="<%= subgenre.id_subgenre %>"><%= subgenre.nama %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="save-button" value="Simpan" onclick="showAlert()"></input>
            </div>
        </form>
    </div>
  </div>
</body>